body {
    background-color: #efeeee;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 2.4rem;
    padding: 20px;
    margin: auto;
    text-align:center;
    align-items: center;
    justify-content: center;
}

.game {
    margin: auto;
    width: 725px;
    height: 350px;
}

.general-game-description {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.small-cover {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.title {
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
    height: 75px;
    padding-left: 30px;
    width: 500px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.game-genre {
    display: inline;
    font-size: 0.8rem;
    color: #000000b7;
}

.game-platform {
    display: inline;
    font-size: 0.8rem;
    color: #000000b7;
}

.description-titles {
    font-weight: bold;
    font-size: 1.1rem;
    color: #000000bd;
    padding-left: 30px;
    height: 25px;
}

.release-date {
    font-size: 1rem;
    color: #000000bd;
    padding-left: 30px;
}

.genres {
    display: block;
    height: 65px;
    width: 500px;
    padding-left: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.platforms {
    display: block;
    height: 65px;
    width: 500px;
    padding-left: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.game-description {
    font-size: 0.9rem;
}

.game-options {
    margin-bottom: 6em;
}

.recommended-games {
    display: block;
    height: 600px;
    width: 1200px;
    margin: auto;
    text-align: center;
    padding: 50px;
}

.carousel-indicators {
    bottom:-50px;
  }


.detail-title{
    font-weight: 600;
    font-size: 1.2rem;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.rating-title {
    font-weight: 600;
    font-size: 1.2rem;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.field-labels {
    font-weight: 500;
    font-size: 1.3rem;
}

.interest-played-button {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.navbar {
    background-color: #3A7F73;
}

.video-game-title {
    padding: 15px;
}

.nav-titles {
    font-weight: 1000;
    color: white;
}

#dashboard-dropdown {
    color: white;
}

.navbar {
    padding: 5px;
}

.nav {
    padding: 0px;
}

.nav-titles {
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading-spinner {
    position: fixed;
    bottom: 0;
    left: 0;
}

.forms {
    display: block;
    height: 1200px;
    width: 600px;
    margin: auto;
    text-align: center;
}

.field-labels {
    padding: 10px;
}

.form-button {
    background-color: #3A7F73;
    margin: 10px;
}

.search-users-input {
    display: block;
    height: 1200px;
    width: 600px;
    margin: auto;
    text-align: center;
}

.follows-list {
    margin: auto;
    text-align: center;
}

.follows-list-title {
    font-size: 2rem;
    text-align: center;
}

.follows-card {
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.game-container {
    margin: auto;
    text-align:center;
    align-items: center;
    justify-content: center;
}

.small-cover {
    padding: 5px;
    border-radius: 8px;
    width: 200px;
    height: 275px;
    border: 1px solid rgb(177, 173, 173);
}

#search-results-count {
    padding: 15px;
}