body {
    background-color: #efeeee;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 2rem;
    padding: 20px;
}

.game {
    margin: 0em 1em 3em 1em;
}

.general-game-description {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.small-cover {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.title {
    font-weight: bold;
    font-size: 1rem;
    color: black;
    height: 40px;
}

.game-genre {
    display: inline;
    font-size: 0.6rem;
    color: #0000008b;
}

.game-platform {
    display: inline;
    font-size: 0.6rem;
    color: #0000008b;
}

.description-titles {
    font-weight: bold;
    font-size: 0.8rem;
    color: #000000bd;
}

.release-date {
    font-size: 0.75rem;
    color: #000000bd;
}

.genres {
    display: block;
    height: 25px;
    width: 400px;
}

.platforms {
    display: block;
    height: 50px;
    width: 400px;
}

.game-description {
    font-size: 0.9rem;
}

.game-options {
    margin-bottom: 6em;
}

.recommended-games {
    display: block;
    height: 1200px;
    width: 600px;
    margin: auto;
    text-align: center;
    padding: 50px;
}

.carousel-indicators {
    bottom:-50px;
  }

.detail-title{
    font-weight: 600;
    font-size: 1.2rem;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.rating-title {
    font-weight: 600;
    font-size: 1.2rem;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.field-labels {
    font-weight: 500;
    font-size: 1.3rem;
}

.interest-played-button {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.navbar {
    background-color: #3A7F73;
}

.video-game-title {
    padding: 15px;
}

.nav-titles {
    font-weight: 1000;
    color: white;
}

#dashboard-dropdown {
    color: white;
}

.navbar {
    padding: 5px;
}

.nav {
    padding: 0px;
}

.nav-titles {
    display: flex;
    align-items: center;
    justify-content: center;
}

#loading-spinner {
    position: fixed;
    bottom: 0;
    left: 0;
}

.forms {
    display: block;
    height: 1200px;
    width: 600px;
    margin: auto;
    text-align: center;
}

.form-button {
    background-color: #3A7F73;
}

.search-users-input {
    display: block;
    height: 1200px;
    width: 600px;
    margin: auto;
    text-align: center;
}